<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Seed" value="-200"/>
		<add key="RemovalCycles" value="2"/>
		<add key="TimerInterval" value="1000"/>
		<add key="Stop" value="Stop"/>
		<add key="warning" value="Внимание!!!"/>
		<add key="error" value="Ошибка!!!"/>
		<add key="Message" value="Параметр [name] для прямоугольников задан неверно. Установить значение в по умолчанию: Seed=100; RemovalCycles=2; TimerInterval=1000 ?"/>
	</appSettings>
</configuration>